@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  background-color: #e5e5e5;
  min-height: 100vh;
  color: #192a3e;
}

a,
a:visited,
a:active,
a:link {
  color: #192a3e;
}

a p,
a:visited p,
a:active p,
a:link p {
  color: #192a3e;
}

/* Grid areas */

.container {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 60px 45vh 45vh;
  grid-template-areas:
    'search search search search search'
    'main   main   main   deals  deals'
    'main   main   main   tasks  tasks';
}

.container.with-sidebar {
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'sidebar search search search search search'
    'sidebar main   main   main   deals  deals'
    'sidebar main   main   main   tasks  tasks';
}

/* General rules for sections */

section,
.main .card {
  background-color: #fff;
  box-shadow: 0 0 8px rgb(106, 112, 126, 0.2);
  border-radius: 5px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon-big {
  width: 26px;
  height: 26px;
}

h2 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

label,
select {
  font-size: 12px;
  font-weight: 300;
  color: #90a0b7;
}

select {
  color: #109cf1;
  border: none;
  outline: none;
  padding: 3px 0;
  margin-left: 1px;
  cursor: pointer;
}

select:focus {
  outline: 1px solid #c2cfe0;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.wrapper h2 {
  margin: 0;
}

/* sidebar */

.sidebar {
  grid-area: sidebar;
  min-height: 110%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0;
  z-index: 999;
  transition: transform 0.5s linear -0.5s;
  position: unset;
}

.sidebar.hidden {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-2000px);
  transition: transform 0.8s linear;
}

.sidebar h1 {
  height: 60px;
  font-family: 'Open-Sans', sans-serif;
  color: #109cf1;
  font-size: 18px;
  font-weight: 700;
  z-index: 1;
  border-bottom: 1px solid rgba(106, 112, 126, 0.2);
  padding: 24px;
}

.sidebar .user {
  display: flex;
  padding: 24px;
}

.sidebar .user img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar .user .user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
}

.sidebar .user-details h3 {
  font-size: 14px;
  font-weight: 500;
  color: #192a3e;
  padding-bottom: 4px;
}

.sidebar .user-details p {
  font-size: 11px;
  font-weight: 500;
  color: #90a0b7;
}

.sidebar .dashboard-item a,
.side-toggle a {
  font-size: 13px;
  font-weight: 500;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}

.sidebar .dashboard-item.active,
.sidebar .dashboard-item.active p,
.sidebar .dashboard-item:hover {
  color: #109cf1;
  transition: color 0 0.1s;
}

.sidebar .dashboard-item:hover .icon,
.sidebar .dashboard-item.active .icon,
.wrapper-btn img:hover {
  filter: invert(48%) sepia(20%) saturate(5026%) hue-rotate(176deg)
    brightness(99%) contrast(91%);
}

.sidebar .dashboard-item a:visited,
.side-toggle a:visited {
  color: inherit;
}

.sidebar .dashboard-item:nth-last-child(2) {
  padding-bottom: 25px;
}

.sidebar .dashboard-item:last-child {
  padding-top: 25px;
  border-top: 1px solid rgba(106, 112, 126, 0.2);
}

.side-toggle {
  position: -webkit-sticky; /* Safari */
  position: fixed;
  bottom: 20px;
  left: 32px;
  z-index: 999999;
}

.side-toggle a,
.side-toggle a:visited,
.side-toggle a:link {
  text-decoration: none;
  font-size: 11px;
  color: #c2cfe0;
}

/* Search bar */

.search {
  grid-area: search;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 60%;
}

.searchbar input {
  width: 80%;
  padding: 5px 10px;
  border: 0;
  font-size: 14px;
  font-weight: 500;
}

.searchbar input::placeholder {
  color: #90a0b7;
}

.searchbar input:focus {
  outline: 1px solid #c2cfe0;
  border-radius: 5px;
}

.search .icon-big {
  cursor: pointer;
}

/*  Main section */

.main {
  grid-area: main;
  margin: 40px 15px 30px 30px;
  height: auto;
}

.main .main-top {
  padding: 24px;
}

.main .wrapper {
  padding: 0;
}

.main .wrapper p {
  font-size: 13px;
  font-weight: 400;
}

.bar-wrapper {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #e5e5e5;
  margin: 20px 0;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 4px;
  background-color: #2ed47a;
  z-index: 99;
}

.main .calendar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 40px 0 0;
}

.main .calendar .day .day-num {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.main .calendar .day.active .day-num {
  background-color: #109cf1;
  color: #fff;
}
.main .calendar .day-name {
  font-size: 13px;
  font-weight: 300;
  color: #90a0b7;
  margin-bottom: 8px;
}

.main .calendar .day-num {
  font-size: 12px;
  font-weight: 500;
  color: #90a0b7;
  padding: 5px;
}

.main .calendar .day:hover p {
  color: #109cf1;
  cursor: pointer;
}

.main .main-bottom {
  height: 70%;
  border-top: 1px solid rgba(106, 112, 126, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

/* Main cards */

.cards {
  display: flex;
  flex-direction: column;
  margin: 24px;
  gap: 30px;
}

.card {
  padding: 24px;
}

.card .header {
  margin-bottom: 10px;
}

.card .header p {
  font-size: 12px;
  font-weight: 400;
  color: #90a0b7;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 14px rgb(106, 112, 126, 0.3);
}

.card p {
  font-size: 13px;
  font-weight: 300;
}

.card p .light {
  color: #90a0b7;
}

.card .user-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0;
}

.card .user-task .user-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card .user-task .user-details img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.card .user-task .user-details p {
  color: #90a0b7;
}

.card .user-task .wrapper-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .user-task .wrapper-btn img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.card .user-task .btn {
  font-family: 'Poppins', sans-serif;
  width: 80px;
  border: none;
  cursor: pointer;
  padding: 3px 11px;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
  margin-left: 4px;
}

.card .user-task .btn:active,
.main .main-bottom h3:active,
.search > img:active,
.wrapper-btn img:active {
  transform: scale(95%);
}

.card .user-task .btn.btn-completed {
  background-color: #2ed47a;
}

.card .user-task .btn.btn-ended {
  background-color: #f7685b;
}

.main .main-bottom h3 {
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  color: #109cf1;
  text-align: center;
  margin: 0 0 14px 0;
}

/* Deals section */

.deals {
  grid-area: deals;
  margin: 40px 30px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.graph {
  border-top: 1px solid rgba(106, 112, 126, 0.2);
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graph .wrapper {
  justify-content: flex-start;
}

.graph .circle {
  width: 8px;
  height: 8px;
  border: 2px solid #109cf1;
  border-radius: 50%;
  margin-right: 6px;
}

.graph p {
  font-size: 10px;
  font-weight: 400;
}

.graph img {
  padding: 10px 24px;
  width: 100%;
  height: auto;
  max-height: 80%;
  object-fit: fill;
}

/* Tasks section */
.tasks {
  margin: 15px 30px 30px 15px;
  grid-area: tasks;
}

.tasks .graph > .wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.tasks .graph img {
  width: 60%;
  padding: 0;
  object-fit: contain;
}

.list-wrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-wrapper .wrapper {
  padding: 5px 0px 5px 20px;
}

.graph .circle-orange {
  border-color: #ffb946;
}
.graph .circle-green {
  border-color: #2ed47a;
}
.graph .circle-red {
  border-color: #f7685b;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 2fr 1fr;
    grid-template-areas:
      'search search search search'
      'main main main main'
      'deals deals tasks tasks';
  }

  .container.with-sidebar {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px 2fr 1fr;
    grid-template-areas:
      'sidebar search search search search'
      'sidebar main main main main'
      'sidebar deals deals tasks tasks';
  }

  .main {
    margin: 30px;
    margin-bottom: 15px;
  }

  .deals {
    margin: 15px 15px 30px 30px;
  }

  .tasks {
    margin: 15px 30px 30px 15px;
  }
}

@media screen and (max-width: 768px) {
  .container,
  .container.with-sidebar {
    grid-template-columns: 100%;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      'search'
      'main'
      'deals'
      'tasks';
  }

  section {
    box-shadow: none;
    border-radius: 0;
  }

  .card {
    padding: 16px;
  }

  .card h2 {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .search {
    padding: 10px 36px;
  }

  .main,
  .deals,
  .tasks {
    margin: 0;
  }

  .sidebar {
    display: none;
  }

  .side-toggle {
    display: none;
  }

  label,
  select {
    font-size: 11px;
  }

  .main .main-top .wrapper p {
    font-size: 11px;
    padding-top: 2px;
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .main .main-bottom h3 {
    display: none;
  }

  .card .user-task .wrapper-btn img:first-child {
    display: none;
  }

  .deals h2,
  .tasks h2 {
    visibility: hidden;
  }
}
